node_modules
# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore package lock files (optional)
package-lock.json
git rm -r --cached node_modules
git rm --cached .env
git rm --cached package-lock.json
git rm --cached package.json
git rm --cached server.js
